<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-lg-8 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Delivery</div>
          <div class="card-title">Mobile Entry - Free</div>
          <div class="card-text">
          <small>
            Tickets Available by Sun Apr 3, 2022 <br> These mobile tickets will be transferred directly to you from a trusted seller. We'll email you instructions on how to accept them on the original ticket provider's mobile app.
          </small>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="card-title flex-row justify-content-between">
            <div>Payment</div>
            <div>2121212</div>
          </div>
          <div class="card-title p-1">Use Credit / Debit Card</div>
          <div class="card-text bg-light-blue p-4">
            <div class="flex-row">
              <div class="pe-2">
                <div class="rounded-circle outer-circle"><div class="rounded-circle inner-circle"></div></div>
              </div>
              <img class="pe-2 card-logo" src="favicon.ico">
              <div class="flex-column">
                <span>Visa - 9999</span>
                <br>
                <small>User Name | exp. 00/11</small>
                <br>
                <small>
                  <a><b>Edit</b></a> |
                  <a><b>Delete</b></a>
                </small>
              </div>
            </div>
<br>
            <div >
              <div class="ps-4">
                Security Code <br>
              <div class="sc">
                <div class="card-security">
                  <div>...</div>
                  <div>arrow</div>
                </div>
                <img class="pe-2 ps-2 mt-2" src="favicon.ico">
               <span class=" mt-2"> 3-digits on back of card</span>
              </div>
              </div>
            </div>
          </div>
         <div class="m-4">
           <div class="sc">
             <div >
             +
             </div>
             <img class="pe-3 ps-3 " src="favicon.ico">
             <span class=" mt-1 f20"> Add New Card</span>
           </div>
         </div>

          <div class="m-4">
            <span>Or Pay With</span>
            <p>
              By using a digital wallet and contiuing past this page, you have read and are accepting the <span>Terms of Use.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="card-title flex-row justify-content-between">
            <div>Total</div>
            <div>$549.11</div>
          </div>
          <div class="card-text">
            Tickets
            <div class="flex-row justify-content-between">
              <div>Resale Tickets: $229.00 x 2</div>
              <div>$458.00</div>
            </div>
           <b>Notes From Seller</b>
            <p>
              xfr XFER Proof of at least one dose of COVID-19 vaccination for ages 5 to 11 and guests ages 12 and up will be required to show proof of two COVID-19 vaccine doses or one dose of the Johnson & Johnson vaccine. Masks must be worn.
            </p>

            <b>Fees</b>
            <div class="flex-row justify-content-between">
              <div>Service Fee: $44.08 x 2</div>
              <div>$88.16</div>
            </div>

            <div class="flex-row justify-content-between">
              <div>Order Processing Fee</div>
              <div>$88.16</div>
            </div>

            <b>Fees</b>
            <div class="flex-row justify-content-between">
              <div>Mobile Entry</div>
              <div>Free</div>
            </div>

            <b>Cancel Order</b>

            <p>*All Sales Final - No Refunds</p>

            <div class="mb-3 flex-row align-content-center">
              <input type="checkbox" > <span>I have read and agree to the current <span>Terms of Use</span>.</span>
          </div>
            <button class="btn btn-success btn-lg w-100 mb-3">Place Order</button>
            <p>"Exceptions may apply, see our Terms of Use.</p>
        </div>
      </div>
    </div>
  </div>
</div>
