<div class="container">
  <h2>Upcoming Shows</h2>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-1">
          arrow
        </div>
        <div class="col-2">
          <b class="text-danger text-body">May 10</b> <br>
          <small>Web . 7:00pm</small>
        </div>
        <div class="col-7">
          <b>Friends Arena - Stockholm, Sweden</b>
          <p>BEYONCE - RENAISSANCE WORLD TOUR</p>
        </div>
        <div class="col-2">
          <button routerLink="/checkout" class="btn btn-primary">See Tickets</button>
        </div>
      </div>
      <div>
        <app-quantity-page/>
      </div>
    </div>
  </div>
</div>
