<div class="row m-3">
  <div class="col-md-4 col-lg-4 col-sm-12">
    <h4 class="fw-light fs-6">LINEUP</h4>
    <div class="banner">
      <div><img [src]="event?.host?.picture" class="img-fluid img img-circle-50"></div>
      <div class="pt-3 ps-2 text-primary">{{event?.host?.name}}</div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12">
    <h4 class="fw-light fs-6">VENUE INFO</h4>
    <div class="banner">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
        <path d="M193 931V363h181V210l107-99 106 99v330h181v391H193Zm35-35h143V753H228v143Zm0-178h143V575H228v143Zm0-178h143V398H228v142Zm181 356h143V753H409v143Zm0-178h143V575H409v143Zm0-178h143V398H409v142Zm0-177h143V220H409v143Zm181 533h143V753H590v143Zm0-178h143V575H590v143Z"/>
      </svg>
      </div>
      <div class="ps-2">
        <small class="text-primary fw-normal">{{event?.venue}}</small> <br>
        <small class="fw-normal">{{event?.name}}</small>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12">
    <h4 class="fw-light fs-6">Quantity</h4>
    <span >Amount: <span class="h6 fw-bold text-secondary">{{formatCurrent(event?.amount, "usd")}}</span>  </span> <br>
    <span >Total:  <span class="fw-lighter"> {{checkoutEven.count}} x {{event?.amount}}  </span> =  <span class="h6 fw-bold">{{formatCurrent(checkoutEven.count * event?.amount, "usd")}}</span>  </span>
    <div class="banner">
      <div class=" bg-gray btn shape" (click)="add(1)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="white" height="24" viewBox="0 96 960 960" width="32">
          <path d="M450 856V606H200v-60h250V296h60v250h250v60H510v250h-60Z"/>
        </svg>
      </div>
      <div class="shape fs-5">{{checkoutEven.count}}</div>
      <div class=" bg-gray btn shape"  (click)="add(-1)">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" fill="white" viewBox="0 96 960 960" width="32">
          <path d="M200 606v-60h560v60H200Z"/>
        </svg>
      </div>
    </div>
  </div>
</div>
