<div class="row bg-light container-lg p-2">
  <div class="col-4">
    <h4>LINEUP</h4>
    <div class="banner">
      <div><img src="favicon.ico" class="img-fluid img img-circle-70"></div>
      <div class="pt-4 ps-2">Tekporlipos</div>
    </div>
  </div>
  <div class="col-4">
    <h4>VENUE INFO</h4>
    <div class="banner">
      <div><img src="favicon.ico" class="img-fluid img img-circle-70"></div>
      <div class="pt-3 ps-2">
        <a href="#">Friends Arena</a> <br>
        <small>Stockholm, Sweden</small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h4>Quantity</h4>
    <div class="banner">
      <div class="shape bg-gray btn">+</div>
      <div class="shape">1</div>
      <div class="shape bg-gray btn">-</div>
    </div>
  </div>
</div>
