<div class="card">
  <div class="card-body">
    <div class="card-title fs-6  flex-row">Delivery
      <app-check/>
    </div>
    <div class="card-title">Mobile Entry - Free</div>
    <div class="card-text">
      <small class="fw-normal fs-7">
        Tickets Available by {{getFormattedDate()}} <br> These mobile tickets will be transferred directly to you from a trusted seller. We'll email you instructions on how to accept them on the original ticket provider's mobile app.
      </small>
    </div>
  </div>
</div>
